html
{
	background-image: url(graphics/page-background.png);
	background-repeat: repeat-x;
	background-color: #f1f5f1;
	background-attachment:fixed;
}

body, #top-bar
{
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	
	min-width: 250px;
	
	font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif !important;
}

#top-bar
{
		position: fixed;
		
		top: 0px;
		
		height: 30px;
		
		/* We anchor that 14 px out of the window at each side, so that when the layout is resized to fit 300px (reduce-margins.js) the side that is padded will go outside */
		right: -14px;
		left: -14px;
		
		/* However, 2 px of the padding will always remain */
		padding-right: 16px;
		padding-left: 16px;
		
		z-index: 999;

		background-image: url(graphics/bar-background.png);
		border-bottom-right-radius: 20px;
		border-bottom-left-radius: 20px;
		background-size: 100% 250%;
		box-shadow: 0px 0px 16px black; 
		
		white-space: nowrap;
		overflow: hidden;
		
		user-select: none;
}

#linvo-logo
{
		height: 90%;
		
		padding-right: 3px;

		float: left;
}

#top-bar div
{
	display: inline-block;
}

#topright-buttons
{
	position: fixed;
	right: 10px;
	top: 5px;
}

#categories
{
	z-index: 0;
	user-select: none;
}


#applications 
{
		z-index: 0;
		padding-top: 120px;
}

.applications-list
{
	display: inline;
}

/* Category links on the home page*/
.category
{
		color: #000000;
		text-decoration: none;

		text-align: center;
		display: inline-block;
		
		margin: 1.4%;
		width: 8%;
		min-width: 70px;
		max-width: 90px;
}

.category:hover
{
		text-shadow: black 0px 0px 1px;	
}

.category > .Icon
{
		width: 58%;
		max-width: 50px;
		
		float: left;
		margin: 20px;
}

.category > .FriendlyName
{
		font-weight: bold;
		display: block;
}

.category > .Name {display:none;}

/* The borders are a little bit strange. we always put just right border; we later remove the border of the rightmost element in the bar */
.bar-button, #linvo-logo
{
		border-image: url(graphics/line.png) 0 1 0 0 stretch stretch;
		border-width: 1px;
		border-top-width: 0px;
}

.bar-button
{		
		background-image: url(graphics/bar-background.png);
		background-size: 100% 230%; 
		
		height: 100%;
		
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 2px;
		
		font: 18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;

		display: none; /* we want those hidden by default */
}

#upgrades-button { border-width: 0px; }
#upgrades-button, #installed-button { float: right; }
#installations-button { float: left; }

.bar-button > img { height: 16px; } /* The icon of the button */
.bar-button.clicked { background-size: 100% -230%; } /* when clicked, just invert the background */

.bar-button.overflown > *:not(img)
{
	display: none;
}

.bar-button.overflown
{ 	
	border: none; 
	padding-right: 2px;
	padding-left: 2px;
}

#search-results
{
		z-index: 9999; 
		text-align: center; 
		width: 100%; 
		margin-left: auto; 
		margin-right: auto;
		margin-top: 50px;
}

#search-bar
{
	margin-top: 2px;
	float: left;
	width: 30%;
	min-width: 35px;
	max-width: 180px;
	
	margin-left: 6px;
	
	display: inline-block;
	position: relative;
}

#search-icon, #search-bar-reset
{
	height: 13px;
	position: absolute;
	top: 5px;
}
#search-icon { left: 6px; }
#search-bar-reset { right: 6px; top: 7px; display: none; height: 10px; cursor:  }

#search-bar-input
{
	width: 100%;
	
	padding-left: 20px;
}

#back-button
{
		position: fixed;
		top: 35px;
		left: 10px;
		max-width: 48px;
		width: 10%;
				
		display: none;
}

#login-form
{
		position: absolute;
		margin-left: 10%;
		margin-right: 10%;
		height: 95%;
		top: 5%;
}

#login-buttons
{
		position: absolute;
		bottom: 10px;
}

#logout-button
{
		float: right;
		display: inline-block;
}

#upgrade-all
{
		position: fixed;
		top: 45px;
		font-size: 17px;

		display: none;
}

#upgrades-button.clicked > #upgrade-all
{
		display: block;
}


#error-text
{
		font-size: 80%;
		color: red;
}

.defaultTextActive 
{ 
		color: #a1a1a1;
		font-style: italic; 
}

.inactive
{
		opacity: 0.4;
		cursor: default;
}

/* Define the size of some UI elements */
#login-box
{
	width: 280px;
	height: 320px;
}

#login-submit { float: left; }
#cancel-button {float: right; }
#login-text { width: 100%; text-align: center; }
#login-successful, #error-text {display: none;} 

#profile-box
{
	width: 700px;
	height: 500px;
}

#profile-box > button
{
	float: right;
}

input 
{
	border-radius:12px;
	box-sizing:border-box;
}

/* Define clickable GUI items ; this is to be added in the configuration some time (enable/disable) */
.filter-button, .Action, #back-button, #search-bar-reset, #installations-button, .category, .application
{
		cursor: pointer;
}
