
html 
{
		height: 100%;
}
body 
{
		margin-left: 20px;
		margin-right: 20px;
		/* width:expression( documentElement.clientWidth < 650 ? (documentElement.clientWidth == 0 ? (body.clientWidth < 650 ? "650" : "auto") : "650px") : "auto" ); */
		# min-width: 650px;
		margin-top: 10px;
		padding: 0px;
		
		background-image: url(graphics/page-background.png);
		background-repeat: repeat-x;
		background-color: #f1f5f1;
		background-attachment:fixed;

		font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif !important;
		overflow: auto;

}

#top-bar
{
		top: 0px;
		position: fixed;
		margin-left: 10%;
		margin-right: 10%;
		width: 80%;
		background-image: url(graphics/bar-background.png);
		border-bottom-right-radius: 20px;
		border-bottom-left-radius: 20px;
		background-size: 100% 230%; 

		height: 30px;

		z-index: 999;
		
		box-shadow: 0px 0px 16px black; 
		vertical-align: middle;
		
		user-select: none;
}


#topright-buttons
{
	position: fixed;
	right: 10px;
	top: 0px;
}

#categories
{
		z-index: 0;

		position: absolute;
		left: 10%;
		margin-right: 10%;
		width: 80%;
		top: 16%;

		user-select: none;
}

#other-apps
{
		clear:both;
		position: relative;
}

#applications 
{
		z-index: 0;
		
		top: 30px;
		position: absolute;
		padding-top: 120px;
		width: 75%;
		margin-right: 15.5%;
		margin-left: 15.5%;
}


.application, .installation-full
{
		width: 450px;
		height: 150px;

		padding: 10px;
		margin: 20px;
		
		display: inline-block;
		
		margin-bottom: 40px;
		background-image: url(graphics/bar-background.png);
		background-repeat: repeat-x;

		margin-bottom: 20px;
		overflow: hidden;
		
		box-shadow: 0px 0px 17px grey;
		/*border-radius: 3px;*/
		position: relative;
		
		cursor: pointer;
}

.application > .Description
{
	height: 55px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.application > .Icon
{
	width: 28%;

}

/* Stupid absolute positioning ; needed to workaround a bug in Chrome */
.application > *, .installation-full > * { position: absolute; }
.application > .app-actions { top: 10px; right: 5px;}
.application > .TitleBlock { left: 31%; top: 15px; right: 80px; }
.application > .TitleBlock > h1, .application > .TitleBlock > h3 {margin: 0px; display: inline;}
.application > .Version {margin-left: 6px;}
.application > img, .application > object { top: 12px; left: 12px; }
.application > .Description { left: 31%; top: 39px; right: 10px; }
.application > .tripledots { left: 31%; top: 100px; }


.applications-list
{
	display: inline;
}

/* Category links on the home page*/
.category
{
		color: #000000;
		text-decoration: none;
		cursor: pointer;
		text-align: center;
		display: inline-block;
		margin: 20px;
}

.category:hover
{
		text-shadow: black 0px 0px 1px;	
}

.category > img
{
		 width: 48px;
		 height: 48px;
		 float:left;
		 margin: 20px;
}

.category > .Name {display:none;}

.bar-button
{		
		background-image: url(graphics/bar-background.png);
		background-size: 100% 230%; 
		
		border-left:  1px solid black;
		border-right:  1px solid black;
		height: 100%;
		
		padding-left: 10px;
		padding-right: 10px;
		
		font: 19px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
		cursor: hand !important;

		display: none; /* we want those hidden by default */
}

.bar-button.clicked { background-size: 100% -230%; }

.filter-button, .Action
{
		cursor: pointer;
}

.inactive
{
		opacity: 0.4;
		cursor: default;
}

#installed-button
{
		/* 50 px from right */
		float: right;
		margin-right: 50px;
}

#upgrades-button
{
		/* 50 px from right */
		float: right;
}

#installations-button
{
		border-left: 0px;
		float: left;
		margin-left: 20px;
		padding-right: 20px;
}

#search-bar
{
		float: left;
		margin-left: 20px;
		padding-top: 2px;
}

#search-results
{
		position: fixed; 
		top:40px; 
		z-index: 9999; 
		text-align: center; 
		width: 100%; 
		margin-left: auto; 
		margin-right: auto;
}

input
{
		border-radius:12px;
		box-sizing:border-box;
}

#search-bar-reset 
{ 
		position: fixed; 
		top:9px; 
		margin-left: 190px;
		width:11px; 
		height:11px; 
		display: none;
		background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAlUlEQVR42o2RSQrDMAxFc5KCD5MTBgw5ioejeFMoybYhyaLdqPpFKp9AaAwPeXgSQu5E5EvO%2BaZE5a6IxRH37rjYKyukI6WUDe%2FwvOKTBSalhIQFHuTBH7Baa9gj4siJA%2BSHwgJHbmeC%2FKLso8i8%2F1ZGz1w5Xuw5Qg42Hjmj1rrD%2B835LEHvd58z%2F2CwH5tNnO0c3PkAGud706ytt0YAAAAASUVORK5CYII%3D'); 
}

#magnify 
{ 
		position: absolute; 
		top: 8px; 
		margin-left: 4px; 
		width:15px; 
		height:14px; 
		background-image:url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGJhc2VQcm9maWxlPSJmdWxsIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4bWxuczpldj0iaHR0cDovL3d3dy53My5vcmcvMjAwMS94bWwtZXZlbnRzIj4KPGc%2BCgk8cG9seWdvbiBmaWxsPSIjNjY2IiBwb2ludHM9IjkuMjA3LDYuMTI2IDcuNzkzLDcuNTQxIDExLjc5MywxMS41NDEgMTMuMjA3LDEwLjEyNiIgLz4KCTxwYXRoIGZpbGw9IiM2NjYiIGQ9Ik01LjkxNywyYzEuNjA4LDAsMi45MTcsMS4zMDgsMi45MTcsMi45MTdTNy41MjUsNy44MzMsNS45MTcsNy44MzNTMyw2LjUyNSwzLDQuOTE3UzQuMzA4LDIsNS45MTcsMgoJCSBNNS45MTcsMEMzLjIwMSwwLDEsMi4yMDEsMSw0LjkxN3MyLjIwMSw0LjkxNyw0LjkxNyw0LjkxN3M0LjkxNy0yLjIwMSw0LjkxNy00LjkxN0MxMC44MzMsMi4yMDEsOC42MzIsMCw1LjkxNywwTDUuOTE3LDB6IiAvPgo8L2c%2BCjwvc3ZnPgo%3D'); 
}



#back-button
{
		position: fixed;
		top: 10px;
		display: none;
}

#login-form
{
		position: absolute;
		margin-left: 10%;
		margin-right: 10%;
		height: 95%;
		top: 5%;
}

#login-buttons
{
		position: absolute;
		bottom: 10px;
}

#logout-button
{
		float: right;
		display: inline-block;
}

#error-text
{
		font-size: 80%;
		color: red;
}

.defaultText 
{ 
		width: 210px;
		padding-left: 20px;
}

.defaultTextActive 
{ 
		color: #a1a1a1;
		font-style: italic; 
}

.InstalledVersionInfo
{
		position: absolute;
		text-align: right;
		width: 95%;
		bottom: 0;
}


.InstallationsCount { display: inline-block; }

/* Universal classes used in .installation, .installation-full and .application */
.Description { text-align: justify; }
.tripledots {font-weight: bold; display: none;}

/* Define the size of some UI elements */
#login-box
{
	width: 280px;
	height: 320px;
}

#login-submit { float: left; }
#cancel-button {float: right; }
#login-text { width: 100%; text-align: center; }
#login-successful, #error-text {display: none;} 

#profile-box
{
	width: 700px;
	height: 500px;
}

#profile-box > button
{
	float: right;
}
